/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
// styles des tweetos
.tweetos {
  background-color: white;
  border-radius: 75px;
  margin: -8px;
  box-shadow: 0 4px 7px rgba(0,0,0,0.16), 0 4px 7px rgba(0,0,0,0.23);
}

.background-tweetos{
  background-color: #cccccc;
    margin: 10px;
    padding: 10px;
    border-radius: 75px;
}
.background-tweetos:hover{
  background-color: #66AFE9;
}

.margin-tweetos {
  margin-left: 25px;
}
// background reviews
#reviews {
    background: #f9efef;
    padding: 20px;
    width: 480px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.form-group {
  margin-bottom: 12px;
  margin-top: 20px !important;
}
.list-none{
  list-style: none
}
